

<h2><%= link_to product.name, product_path(product) %> </h2>

<% if product.image.present? %>
  <p><%= image_tag product.image %></p>
<% end %>

<p> Price: $<%= product.price %> </p>
<p> Qty: <%= product.quantity %> </p>
<% if product.on_sale %>
  <p>On sale!</p>
<% end %>
