<div>
  <h2>Shopping Cart</h2>
  <% @cart_items.each do |cart_item|  %>
    <%= cart_item.name %>: $ <%= cart_item.price %><br>
  <% end %>
</div>

<div class="card-group">
  <%= render @products %>
</div>

<%= paginate @products %>

